<head>
  {% if page.title %}
    <title> {{ page.title }} | Dangerous Coder</title>
    <meta property="og:title" content="{{ page.title }} | Dangerous Coder">
  {% else %}
    <title>Dangerous Coder</title>
    <meta property="og:title" content="Dangerous Coder">
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="This is a dagengerous coder's site.">
  {% endif %}
  <link href="/favicon.png" rel="icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/fonts/fontawesome-free-5.12.0-web/css/all.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
